/* You can add global styles to this file, and also import other style files */
:root {
  --root-base-color: #1a3f6b;
  --root-accent-color: #104473;
  --root-base-bg: #ced8da;
  --root-accent-bg: #a0c1e3;
  
  --header-size: 50px;
}

h1 {
  color: var(--root-accent-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color: var(--root-base-bg);
}
body, input[type="text"], button {
  color: var(--root-base-color);
  font-family: Helvetica, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
